@(user: User, projectForm: Form[_])(implicit flash: Flash)

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(user, scripts) {
    <div class="row">
        <div>
        @helper.form(action = controllers.accounts.routes.Workspace.createNewProject) {
	        @helper.inputText(projectForm("gitUrl"),  '_label -> "Git HTTPS clone URL", '_help->"")
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Pull & build app!</button>
			</div>
        }

        </div>
    </div>
}