@(user: User)

@mainContainer(user = user) {
	<h1>Getting started with building an Ubuntu app</h1>
	
	<h4>We show how to get started fast and build an app from GitHub with Physalis Build Cloud. We give an overview on the structure
	of an Apache Cordova app and show how to install it on an ubuntu phone.	 
	</h4>
	
	<h2>The HTML structure of an app</h2>
	<p>For the purpose of this article, we use a simple <a href="https://github.com/physalisio/helloworld">Hello World app hosted on GitHub</a>.
	 The HTML/JS/CSS sources are contained in <em>www</em>. The application settings are defined in
	 <em>config.xml</em>.
	</p>
	  
	  <pre>
	  www/ 
	     index.html    # main-HTML file specified in config.xml
	  config.xml       # configuration file
	  </pre>

	<p>
	Most importantly, the config.xml files defines the HTML files to be displayed: in this case it's <em>index.html</em>.
	
	<h2>Building the app</h2>
	<p>
	We can build an app by installing cordova and creating a click chroot for armhf like explained in the 
	<a href="https://developer.ubuntu.com/en/apps/html-5/guides/cordova-guide/">Cordova Guide at ubuntu developer</a>. It's however much 
	easier to use Physalis.</p> 
	
	<p>
	First a create an Account at Physalis Build Cloud (if you haven't already done so). Then click on "create a new project". In
	the following form, enter the project name, the following git URL https://github.com/physalisio/helloworld.git and click "import project!".
	</p>
	A project box appears, where you can press "Pull & Build". Afters some times (20-40 seconds) The build is finished. You can either download 
	the app binary or inspect the build log file.
	
	<h2>Deploying on ubuntu touch</h2>


}