@(user: User)

@mainContainer(user = user) {

    <div class="row">
	        <div class="col-sm-12"><h1>List of tutorials</h1>
	        <h2>Getting started guides</h2>
	        <p>
	         <a href="@controllers.training.routes.Training.ubuntuHelloWorld()">Getting started with building an Ubuntu app</a> 
	        </p>
	        <h2>DOM based games tutorials</h2>
	        <p>Hit the mole: to come</p>
	        <h2>canvas based games tutorials</h2>
	        <h2>Phaser.io</h2>
        </div>
    </div>
}