/* General */
@base-orange: #ff802b;
@base-black: #363b40;
@base-background: #f3f3f3;
@base-primary: #11c400;
//@base-box-background: #ffffff;

body, .navbar-default .navbar-nav > li > a {
    color: @base-black;
}


a {
	color:@base-orange;
	text-decoration:underline;
}

h1,h2, a.title {
	color:@base-black;
	text-decoration:none;
}


a.btn {
	color:@base-black;
	font-weight:bold;
}

a.btn-primary, a.btn-primary {
	background-color:@base-primary;
	color: white;
	text-decoration:none;
		font-weight:normal;
}

section {
    padding-top: 20px;
}

.navbar-default {
    background: transparent;
    border: 0;
    margin-bottom: 0;
}

.infobox h2,.infobox h3,.infobox h4 {
    color: white;
    text-align: right;
    padding: 4px 8px;
}

.infobox.orange h3, .infobox.orange h4 {
    background: @base-orange;
}

.infobox.black h3,.infobox.black h4 {
    background: @base-black;
}

.physalis-btn-black {
    background: @base-black;
    color: white;
    text-align: right;
    padding-right:8px;
    font-weight: bold;
}

.navbar {
    position:inherit;
    margin-top:12px;
}

h1{
    font-size: 30px;
}
hr.nomargin {
    margin-top:0px;
}

.banner {
    height: 170px;
    width: 100%;
    background-color: @base-black;
}


/* Password. */

.is0{background:url(../images/progressImg1.png) no-repeat 0 0;width:138px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}

#passwordStrengthDiv, #passwordStrengthDiv2 {
    float:left;
}

.pointer {
    cursor:pointer;
}

