/* General */
@base-orange: #ff802b;
@base-black: #363b40;
@base-background: #f3f3f3;
@base-primary: #11c400;
//@base-box-background: #ffffff;

body, .navbar-default .navbar-nav > li > a {
    color: @base-black;
}


a {
	color:@base-orange;
	text-decoration:underline;
}

h1,h2, a.title {
	color:@base-black;
	text-decoration:none;
}


a.btn {
	color:@base-black;
	font-weight:bold;
}

a.btn.btn-lg {
	font-weight:normal;
}

a.btn-primary, a.btn-primary {
	background-color:none;
	color: white;
	text-decoration:none;
	font-weight:normal;
}

section {
    padding-top: 20px;
}

.navbar-default {
  /*  background: transparent;*/
    border-bottom: 0;
    margin-bottom: 0;
}

.titleButton{
	margin-top: 20px;
	margin-bottom: 10px;
}

.col-with-little-padding {
	padding-right:8px;
	padding-left:8px;
}

.infobox h2,.infobox h3,.infobox h4 {
    color: @base-black;
    padding: 4px 8px;
}

.infobox h3.orange, .infobox h4.orange {
    background: @base-orange;
    text-align: right;
    color: white;
}

.infobox h3.black ,.infobox h4.black {
    background: @base-black;
    text-align: right;
    color: white;
}

.physalis-btn-black {
    background: @base-black;
    color: white;
    text-align: right;
    padding-right:8px;
    font-weight: bold;
}

h1 span.title{
	margin-right:12px;
}
hr.nomargin {
    margin-top:0px;
}

.banner {
    height: 170px;
    width: 100%;
    background-color: @base-black;
}


/* Password. */

.is0{background:url(../images/progressImg1.png) no-repeat 0 0;width:138px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}

#passwordStrengthDiv, #passwordStrengthDiv2 {
    float:left;
}

.pointer {
    cursor:pointer;
}

