@(isMyAccount:Boolean, buildTask:Option[BuildTask] = None)
          		
@if(buildTask.isDefined) {
	@if(buildTask.get.state=="NEW") {
	   <div class="row">
	    	<div class="col-md-8" data-state="NEW" data-platform="@buildTask.get.platform">
			    @buildTask.get.platform: build queued  		
			</div>
	    </div>  
    }
    
    @if(buildTask.get.state=="IN_PROGRESS") {
	    <div class="bg-info" data-state="IN_PROGRESS" data-platform="@buildTask.get.platform">
		 <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span> @buildTask.get.platform: build in progress
		</div>
    }
    @if(buildTask.get.state=="DONE") {
	    <div class="row">
	     	<div class="col-md-9">
 	   			<p data-state="DONE" data-platform="@buildTask.get.platform">
	   				<a class="btn btn-primary btn-build btn-block" role="button"  href="@buildTask.get.s3Url">
	   					<span class="glyphicon glyphicon-download" aria-hidden="true"></span> @buildTask.get.platform
					</a>
				</p>  		 
			</div>
				<div class="col-md-3">
	   				<a class="btn btn-primary btn-build btn-block" role="button"  href="@buildTask.get.s3Url">Logs</a>  		
			</div>
		</div>
    }
    
     @if(buildTask.get.state=="ERROR") {
	    <div class="bg-danger" data-state="ERROR" data-platform="@buildTask.get.platform">
	 	   <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span>@buildTask.get.platform: build failed</span>  		
	 	</div>
    }
    
}