@(projectForm: Option[Form[(String, String)]] = None)(implicit flash: Flash)

@if(!projectForm.isDefined) {
    <div class="row">
        <div class="col-sm-4">
            <div class="btn-group">
                <a type="button" href="@controllers.accounts.routes.Workspace.newProjectPage"
                class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                >Create a new project <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@controllers.accounts.routes.Workspace.newProjectPage">Public project</a></li>
                    <li><a href="#" class="disabled">Private project</a></li>
                </ul>
            </div>
        </div>
    </div>
}
