@(projectForm: Option[Form[(String, String)]] = None)(implicit flash: Flash)

@if(projectForm.isDefined) {
    <div class="row">
    @helper.form(action = controllers.workspace.routes.Workspace.createNewProject, 'class -> "form-inline") {
        <input class="col-md-6 form-control" type="text" name="appName" placeholder="App name"></input>

        <div class="form-group">
            <input class="col-md-5 form-control" type="text" name="gitUrl" placeholder="Git HTTPS clone URL"></input>
        </div>
        <button type="submit" class="btn btn-primary">Pull & build app!</button>
    }
    </div>

	@if(flash.get("error").isDefined){
	<div class="alert alert-danger withPadding" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  @flash.get("error")
	</div>
	}
}
