@(project: Project, isMyAccount:Boolean, lastUbuntuBuildTask:Option[BuildTask] = None, lastAndroidBuildTask:Option[BuildTask]=None)
            <h3><a href="@controllers.workspace.routes.ProjectPage.show(project.username, project.name)">@project.name</a></h3>
            <p>Last build: n.a.</p>
            @if(isMyAccount){            	
            	@if(!lastUbuntuBuildTask.isDefined || !lastAndroidBuildTask.isDefined || lastUbuntuBuildTask.get.state!="IN_PROGRESS" ||  lastAndroidBuildTask.get.state!="IN_PROGRESS"){
	            	<p><a href="@controllers.workspace.routes.Build.build(project.username, project.name)" 
	            		class="btn btn-primary btn-block" role="button">Pull & Build</a>
            	}
            	
            	
            	@if(lastUbuntuBuildTask.isDefined && lastUbuntuBuildTask.get.state=="IN_PROGRESS"){
            		<p><class="btn btn-lg">Ubuntu: Build in progress</p>	
            	}
            	
            	@if(lastUbuntuBuildTask.isDefined && lastUbuntuBuildTask.get.state=="ERROR"){
            		<p>Ubuntu: Build ERROR</p>	
            	}
            	
            	@if(lastUbuntuBuildTask.isDefined&& lastUbuntuBuildTask.get.state=="NEW"){
            	   		<p>Ubuntu: Build queued</p>	
            	}
            	
            	@if(lastUbuntuBuildTask.isDefined&& lastUbuntuBuildTask.get.state=="DONE"){
            		<p><a href="@lastUbuntuBuildTask.get.s3Url"
            		class="btn btn-lg">Download Android apk file</a></p>	
            	}
            	
            	@if(lastAndroidBuildTask.isDefined && lastAndroidBuildTask.get.state=="IN_PROGRESS"){
            		<p><class="btn btn-lg">Android: Build in progress</p>	
            	}
            	
            	@if(lastAndroidBuildTask.isDefined && lastAndroidBuildTask.get.state=="ERROR"){
            		<p>Android: Build ERROR</p>	
            	}
            	
            	@if(lastAndroidBuildTask.isDefined&& lastAndroidBuildTask.get.state=="NEW"){
            	   		<p>Android: Build queued</p>	
            	}
            	
            	@if(lastAndroidBuildTask.isDefined&& lastAndroidBuildTask.get.state=="DONE"){
            		<p><a href="@lastAndroidBuildTask.get.s3Url"
            		class="btn btn-lg">Download Android APK file</a></p>	
            	}
            }
