@(user: User=null)(implicit flash: Flash, request: Request[AnyContent])
@main(user) {
	<section class="jumboboxWrapper">
		<div class="container">
		    <div class="jumbotron jumbotronMainPage">
		        <h1>Physalis builds HTML5 apps with Apache Cordova</h1>
		        <ul class="fa-ul">
		        	<li><i class="fa-li fa fa-caret-right "></i>It's free</li>
		            <li><i class="fa-li fa fa-caret-right "></i>It's opensource (commercial friendly MIT license)</li>
		            <li><i class="fa-li fa fa-caret-right "></i>It's for FirefoxOS, Ubuntu and Android!</li>
		        </ul>
		    </div>
		    <div class="row" >
			    <div class="col-sm-offset-3 col-sm-6" >
			        <a href="/signup" class=" btn btn-lg btn-block btn-primary ">Sign up for free</a>
			    </div>
		    </div>
		</div>
	</section>

	<section class="infoboxes">
		<div class="container ">
		    <div class="row">
		        <div class="thumbnail physalis-infobox col-xs-12 col-sm-6 col-md-4" >
		            <div class="text-center">
		             <span class="fa-stack fa-lg fa-3x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-paper-plane fa-stack-1x"></i>
					 </span>

		            </div>
		            <div>
		                <h4>Easily build cross platform HTML5 apps</h4>
		                <p>Login with your github account and click "build". Physalis can build
		                 your app for the following platforms: Android, ubuntu touch, Firefox OS</p>
		            </div>
		        </div>
		        <div class="thumbnail physalis-infobox col-xs-12 col-sm-6 col-md-4">
		            <div class="text-center">
		               <span class="fa-stack fa-lg fa-3x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-github fa-stack-1x"></i>
						</span>
		            </div>
		            <h4>Completely Opensource</h4>
		            <p>
		                Physalis is licensed under the MIT license and thus open source. Simply <a href="https://github.com/danbeck/physalis">
		                fork me on GitHub.</a>
		            </p>
		        </div>
		
		
		        <div class="thumbnail physalis-infobox col-xs-12 col-sm-6 col-md-4">
		            <div class="text-center">
		            <span class="fa-stack fa-lg fa-3x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-html5 fa-stack-1x"></i>
					</span>
		            </div>
		            <h4>Embrace HTML5 standards!</h4>
		            <p>
		                Use HTML5 standards or existing HTML UI frameworks like jquery mobile or Ubuntu HTML5.
		            </p>
		        </div>
		        <div class="thumbnail physalis-infobox col-xs-12 col-sm-6 col-md-4">
		            <div class="text-center">
		            <span class="fa-stack fa-lg fa-3x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-tablet fa-stack-1x"></i>
					</span>
		            </div>
		            <h4>Native mobile application</h4>
		            <p>Access the camera, read and write files, access the user's contacts or geolocation data.</p>
		        </div>
		
		        <div class="thumbnail physalis-infobox col-xs-12 col-sm-6 col-md-4">
		            <div class="text-center">
		           <span class="fa-stack fa-lg fa-3x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-globe fa-stack-1x"></i>
					</span>
		             </div>
		            <h4>Many platforms</h4>
		            <p>
		                For FirefoxOS, Ubuntu Touch and Android
		           </p>
		
		        </div>
	    	</div>
	   	</div>
	</section>
}
