@(user: Option[User], projects: List[Project])

@mainContainer(user = user) {

    <div class="list-group">
    @for(project <- projects) {
        <a href="@controllers.workspace.routes.ProjectPage.show(project.username,project.name)" class="list-group-item">
            <h4 class="list-group-item-heading">@project.name - @project.username</h4>
            @*<p class="list-group-item-text"></p>*@
            <p class="list-group-item-text">Here comes the description of this project</p>
        </a>
    }
    </div>
}