@(user: DemoUser)(implicit flash: Flash) 

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(user, scripts, true) {
   
    <div class="row">    
        <div class="col-sm-4"><h4>
     Signup using any of the following services:
        </h4>
        </div>
        <div class="col-sm-4">
        	<a type="button" href="authenticate/github" class="btn btn-primary btn-lg" style="color : white ; background : #11c400 ; font-weight : bold ;">
              Signup with GitHub</a>
        </div>
     </div>
}